<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ericxxt.logistics_system.dao.ManagerDao">

    <resultMap id="deliver" type="com.ericxxt.logistics_system.entity.Deliver">
        <result column="deliver_id" jdbcType="INTEGER" property="deliver_id" />
        <result column="deliver_name" jdbcType="VARCHAR" property="deliver_name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="news" jdbcType="VARCHAR" property="news" />
        <result column="orderNum" jdbcType="VARCHAR" property="orderNum" />
        <result column="salary" jdbcType="VARCHAR" property="salary" />
        <result column="phoneNum" jdbcType="VARCHAR" property="phoneNum" />
        <result column="repository" jdbcType="VARCHAR" property="repository" />
    </resultMap>

    <resultMap id="manager" type="com.ericxxt.logistics_system.entity.Manager">
        <result column="manager_id" jdbcType="INTEGER" property="manager_id" />
        <result column="manager_name" jdbcType="VARCHAR" property="manager_name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="phoneNum" jdbcType="VARCHAR" property="phoneNum" />
        <result column="rank" jdbcType="VARCHAR" property="rank" />
        <result column="orderNum" jdbcType="VARCHAR" property="orderNum" />
        <result column="salary" jdbcType="VARCHAR" property="salary" />
        <result column="news" jdbcType="VARCHAR" property="news" />
    </resultMap>

    <resultMap id="deliver_small" type="com.ericxxt.logistics_system.entity.Deliver">
        <result column="deliver_id" jdbcType="INTEGER" property="deliver_id" />
        <result column="deliver_name" jdbcType="VARCHAR" property="deliver_name" />
        <result column="province" jdbcType="VARCHAR" property="province" />

    </resultMap>
    <select id="select_order_delivers" resultMap="deliver_small">
      select deliver_id,deliver_name,province from deliver where province=#{province}
    </select>
    <select id="select_delivers" resultMap="deliver">
        select * from deliver
    </select>

    <select id="local_delivers" resultMap="deliver">
        select * from deliver where deliver_id=#{deliver_id}
    </select>

    <update id="update_order">
        update orders set manager_id=#{manager_id},deliver_id=#{deliver_id},status=#{status},trans_info=#{trans_info} where order_id=#{order_id}
    </update>

    <select id="login_verify" resultMap="manager">
        select * from manager where manager_name=#{username} and password=#{password}
    </select>


    <update id="update_news">
        update deliver set news='true' where deliver_id=#{deliver_id}
    </update>

    <select id="deliver_provinces" resultType="java.lang.String">
      select distinct province from deliver
    </select>
    <!--<insert id="insert" parameterType="com.example.entity.User">
        insert into User (userId, userName, phone,
        sex)
        values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.example.entity.User">
        insert into User
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userId,
            </if>
            <if test="username != null">
                userName,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="findAllUser" resultType="com.example.entity.User">
        select * from User
    </select>-->
</mapper>
